@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

h1 {
  font-size: calc(24px + 2vw);
}

h2 {
  font-size: calc(20px + 2vw);
}

h3 {
  font-size: calc(16px + 2vw);
}

h4 {
  font-size: calc(14px + 2vw);
}

h5 {
  font-size: calc(12px + 2vw);
}

h6 {
  font-size: calc(10px + 2vw);
}

p {
  font-size: calc(14px + 1vw);
  @apply text-justify max-w-[80vw];
}

@media (min-width: 1024px) {
  h1 {
    font-size: 55px;
  }
  h2 {
    font-size: 45px;
  }
  h3 {
    font-size: 35px;
  }
  h4 {
    font-size: 25px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 15px;
  }
  p {
    font-size: 16px;
  }
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

input,
select {
  @apply block w-full px-3 py-2 my-0 mb-2 text-sm border rounded-md h-9 border-slate-300 placeholder:text-slate-400 hover:border-slate-400 focus:border-neutral-300 focus:outline-none focus:ring-2 focus:ring-neutral-800 focus:ring-offset-1;
}
